[user]
	email = alyptik@protonmail.com
	name = alyptik
	signingkey = E314F17E08EF006D
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = alyptik@gmail.com
	smtpServerPort = 587
