[user]
	email = alyptik@protonmail.com
	name = alyptik
	signingkey = E314F17E08EF006D
[diff]
	tool = vimdiff2
[merge]
	tool = vimdiff2
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = alyptik@gmail.com
	smtpServerPort = 587
[push]
	default = simple
[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	l = log --show-signature
	unstage = reset HEAD --
	lu = log --show-signature -u
