[Desktop Entry]
Icon=video-mp4
Name=(LEI HAND CUM) japanese guy in female lingerie getting a blowjob from yuria satomi.MP4
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/queue/(LEI%20HAND%20CUM)%20japanese%20guy%20in%20female%20lingerie%20getting%20a%20blowjob%20from%20yuria%20satomi.MP4
X-KDE-LastOpenedWith=kdialog
