[Desktop Entry]
Icon=audio-flac
Name=alyptik - [Trance Mix] Sinfonia.flac
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/Practice%20Mixes/alyptik%20-%20%5BTrance%20Mix%5D%20Sinfonia.flac
X-KDE-LastOpenedWith=kdialog
