[Desktop Entry]
Icon=image-jpeg
Name=gpoywlateeditionjoey.jpg
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/pictures/Profile%20Pictures/gpoywlateeditionjoey.jpg
X-KDE-LastOpenedWith=kdialog
