[Desktop Entry]
Icon=image-vnd.adobe.photoshop
Name=rave_meh.psd
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/pictures/Profile%20Pictures/rave_meh.psd
X-KDE-LastOpenedWith=kdialog
