[Desktop Entry]
Icon=image-jpeg
Name=sinfonia.jpg
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/Practice%20Mixes/sinfonia.jpg
X-KDE-LastOpenedWith=kdialog
