[Desktop Entry]
Icon=image-jpeg
Name=tumblr_ku1oxsdwkT1qzs53zo1_500.jpg
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/wanderlust/tumblr_ku1oxsdwkT1qzs53zo1_500.jpg
X-KDE-LastOpenedWith=kdialog
