[Desktop Entry]
Icon=image-jpeg
Name=TwitterHeader1252×626Final.jpg
Type=Link
URL[$e]=file:///run/media/alyptik/microSDXC/pictures/Profile%20Pictures/TwitterHeader1252%C3%97626Final.jpg
X-KDE-LastOpenedWith=kdialog
